body,
html {
    overflow-y: hidden;
    background-color: #ED807F;
    height: 100%;
    margin: 0;
    padding: 0;
}


.lol {
    position: flex;
    clip-path: ellipse(50% 50% at 50% 50%);

}

.lal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ED807F;
    /* Pozadinska boja */
    background-size: cover;
    background-position: center;
    z-index: 0;
}

@media (max-width: 768px) {
    .lal {
        background-position: calc(50%) center !important;
    }
}